@import "colors";
// footer

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient-left;
}

.footer-nav__list {
    display: flex;
    list-style: none; 
}

.footer-nav__list li {
    margin: 0 10px; 
}

.footer-nav__list i {
    font-size: 30px;
    color: white;
}

.footer-nav__list li {
    margin-right: 50px; 
}

.footer-nav__list li:last-child {
    margin-right: 0; 
}


