@import "colors";

// start part6

.contact {
    background-color: $amber;
    width: 100%;
  
    .contact__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 150px;
      padding-bottom: 50px;
  
      .contact__heading {
        text-align: center;
        padding-bottom: 50px;
      }
  
      .contact__text {
        text-align: center;
        padding-bottom: 50px;
        width: 50%;
      }
  
      .contact__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
  
        input,
        textarea {
          width: 100%;
          padding: 10px;
          margin: 10px 0 10px 0;
          border: none;
          border-radius: 5px;
        }
  
        input[type="submit"] {
          background-color: $blue-violet;
          color: white;
          cursor: pointer;
        }
  
        .contact__button {
          width: 30%;
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          border: none;
          background-color: $blue-violet;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  