@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&display=swap');
// Roboto Mono, Teko, Josefin Sans

@import "colors";
@import "header";





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Josefin Sans, sans-serif;
}

main {
    padding-top: 150px;
    min-height: 100vh;
}

// start part1

.banner {
    width: 80%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0 auto;

    .banner__heading {
        padding-bottom: 55px;
        text-align: center;
    }

    .banner__text {
        padding-bottom: 60px;
        text-align: center;
    }

    .banner__img {
        height: auto;
        width: 75%;       
        align-self: center;
        border-radius: 10px 10px 0 0;
    }
}

// start part2

.performance {
    background-color: $amber;
    width: 100%;
}

.performance__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .performance__heading {
        text-align: center;
        padding-top: 200px;
    }

    .performance__text {
        width: 60%;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 250px;
    }
}

// start part3

// .card {
//     position: sticky;
//     top: 150px;
// }

.sticky {
    position: relative;
    top: -100px;
}

.card__container {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;

    .card__padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card__heading {
        font-size: 20px;
        padding-top: 80px;
    }

    .card__languages, 
    .card__tools_head {
        color: $azure;
    }

}



@media (min-width: 576px) {
    header span {
        font-size: 30px;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        font-size: 20px;
    }

    .dropdown {
        display: none;
    }

    .banner__heading {
        font-size: 40px;
    }

    .performance__heading {
        font-size: 28px;
    }

    .p_text {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    header span {
        font-size: 34px;
    }

    header nav ul li {
        font-size: 24px;
    }

    .banner__heading {
        font-size: 44px;
    }

    .performance__heading {
        font-size: 32px;
    }

    .p_text {
        font-size: 24px;
    }
}
